<div class="container">
  <div class="container-item">
    <ul class="u-listReset">
      <li *ngFor="let flight of x">
          <strong> Flight Number: </strong> {{ flight.fields.flightNumber }}
       <br>
      <strong> Departure City: </strong>  {{ flight.fields.departure }} <strong> Departure Date: </strong> {{ flight.fields.departureDate | date}}
       <br>
      <strong> Arrival City: </strong>  {{ flight.fields.arrival }} <strong> Arrival Date: </strong> {{ flight.fields.arrivalDate | date}}
      <br>
    <strong> Aiplane Model: </strong> {{flight.fields.aircraftModel}}
    <br>
    <strong> Ticket Price: </strong> {{flight.fields.price}}
        <img src="{{ flight.fields.craftPicture}}" >
        <br>
        Text: {{flight.fields.testText}}
        <br>
        <button class="btn btn-success" (click)="onClick()"> Book </button>
      </li>
    </ul>
  </div>
 <!-- <div class="container-item-details">

    
  </div>-->
</div>

